<div class="content ">
    <article class="grid">
        <section class="grid__content" *ngIf="(educationService.education$ | async) as education" [ngClass]="{'fade-in' : (educationService.education$ | async)}">
            <div class="emblem" (click)="shake()">
                <i class="first fa" [ngClass]="'fa-'+education.icon[0]"></i>
                <i class="second fa" [ngClass]="'fa-'+education.icon[1]"></i>
                <i class="third fa" [ngClass]="'fa-'+education.icon[2]"></i>
            </div>
            <h1 class="content__title">Education</h1>
            <div class="education__dates">
                    <div class="start-date">
                        <span class="start-date__decorator">Start Date:</span>
                        <span>{{education.startDate}}</span>
                    </div>
                    <div class="dash"></div>
                    <div class="end-date">
                        <span class="end-date__decorator">End Date:</span>
                        <span>{{education.endDate}}</span>
                    </div>
            </div>
            <div class="education__info">
                <h3>{{education.universityName}}</h3>
                <h3>{{education.faculty}}</h3>
                <h3>Degree: {{education.degree}}</h3>
            </div>
            
            
        </section>
    </article>
    <app-polygon-generator [polygonCount]="10" [static]="true"></app-polygon-generator>

</div>

<app-loader></app-loader>

