@import "../../assets/styles/variables.scss";

.hobbies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
}
.hobby {
  text-align: center;
  margin: 3rem 0;
  &__emblem {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border: 3px solid $dark;
    background: $brightGreen;
    border-radius: 50%;
    font-size: 3.5rem;
    color: $dark;
    margin-bottom: 1rem;
    i {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    @media screen and (max-width: 760px) {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
    }
  }
  &__description {
    @media screen and (max-width: 1024px) {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 1024px) {
    width: 50%;
  }
}
