    <span [class.blur]="(appService.blurBackground$ | async) && !static" [class.static]="static" style="transform: translateZ(0)">
        <div *ngFor="let polygon of polygonArray; let i = index" class="polygon" 
        [ngClass]="'polygon-'+i" 
        [style.top.px]="polygon.positionY" 
        [style.left.px]='polygon.positionX' >
        <div [ngClass]="polygon.layer">
            <div class="polygon__triangle"  [style.transform]="'translate(-33%, -67%) skew('+ polygon.skewX +'deg,'+ polygon.skewY +'deg) scale('+ polygon.scale +')'"></div>
        </div>
       
        </div>
       
    <div class="polygon__glass"></div>
</span>