@import "./../../assets/styles/variables.scss";

.polygon {
  width: 30rem;
  height: 15rem;
  position: fixed;
  transform: translateZ(0);
  fill: rgba($darkGreen, 0.3);
  stroke-width: 0.2px;
  stroke: $darkGreen;
  overflow: visible;
  transform-style: preserve-3d;
  &__glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  &:nth-child(odd) {
    animation-name: rotateClockwise;
  }
  &:nth-child(even) {
    animation-name: rotateAntiClockwise;
  }
  polygon {
    transform-origin: center center;
  }
}
.blur {
  display: block;
  width: 100%;
  height: 100%;
  animation: blurBg 250ms 0ms ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
  .polygon {
    animation-play-state: paused;
  }
}

@keyframes rotateClockwise {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
@keyframes rotateAntiClockwise {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, -360deg);
  }
}

@keyframes blurBg {
  0% {
    background: rgba($dark, 0);
    filter: blur(0px);
  }
  100% {
    background: rgba($dark, 0.15);
    filter: blur(10px);
  }
}

@for $i from 0 through 20 {
  .polygon-#{$i} {
    filter: blur(5px);

    opacity: 0.4;
    animation-delay: 0;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@for $i from 21 through 29 {
  .polygon-#{$i} {
    filter: blur(3px);

    opacity: 0.65;
    animation-delay: 0;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@for $i from 30 through 40 {
  .polygon-#{$i} {
    filter: blur(0px);

    opacity: 0.7;
    animation-delay: 0;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@media screen and (max-width: 1024px) {
  @for $i from 0 through 10 {
    .polygon-#{$i} {
      opacity: 0.25;
      filter: blur(10px);
    }
  }

  @for $i from 11 through 18 {
    .polygon-#{$i} {
      opacity: 0.55;
      filter: blur(5px);
    }
  }

  @for $i from 19 through 25 {
    .polygon-#{$i} {
      opacity: 1;
      filter: blur(0px);
    }
  }
  @for $i from 26 through 70 {
    .polygon-#{$i} {
      display: none;
    }
  }
}
