<div class="content ">
    <article class="grid">
        <section class="grid__content" *ngIf="(experienceService.experience$ | async) as experience" [ngClass]="{'fade-in' : (experienceService.experience$ | async)}">
            <div class="emblem" (click)="shake()">
                <i class="first fa" [ngClass]="'fa-'+experience.icon[0]"></i>
                <i class="second fa" [ngClass]="'fa-'+experience.icon[1]"></i>
                <i class="third fa" [ngClass]="'fa-'+experience.icon[2]"></i>
            </div>
            <h1 class="content__title">Experience</h1>
            
           <app-slider [type]="'experience'" [data]="experience"></app-slider>
            
        </section>
    </article>
    <app-polygon-generator [polygonCount]="10" [static]="true"></app-polygon-generator>

</div>
<app-loader></app-loader>

