<section class="slide" >
    <h1> {{experience.companyName}}</h1>

    <div class="experience__dates">
        <div class="start-date">
            <span class="start-date__decorator">Start Year:</span>
            <span>{{experience.startYear}}</span>
        </div>
        <div class="dash"></div>
        <div class="end-date">
            <span class="end-date__decorator">End Year:</span>
            <span>{{experience.endYear}}</span>
        </div>
</div>
<h3>{{experience.position}}</h3>
<h5>{{experience.responsibilities}}</h5>
</section>