<div class="content ">
    <article class="grid">
        <section class="grid__content" *ngIf="(skillsService.skills$ | async) as skills" [ngClass]="{'fade-in' : (skillsService.skills$ | async)}">
            <div class="emblem" (click)="shake()">
                <i class="first fa" [ngClass]="'fa-'+skills.icon[0]"></i>
                <i class="second fa" [ngClass]="'fa-'+skills.icon[1]"></i>
                <i class="third fa" [ngClass]="'fa-'+skills.icon[2]"></i>
            </div>
            <h1 class="content__title">Skills</h1>
            <app-slider [type]="'skills'" [data]="skills"></app-slider>

           
        </section>
    </article>
    <app-polygon-generator [polygonCount]="10" [static]="true"></app-polygon-generator>

</div>
<app-loader></app-loader>

<h2>
</h2>
 