@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.skills {
  width: 100%;
  text-align: center;
  &__header {
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 1rem 0;
    border-top: 0.1rem solid $brightGreen;
    border-bottom: 0.1rem solid $brightGreen;
    margin: 1rem 0;
    &.advanced {
      .skill__progress {
        &:before {
          animation: fill-90 1.5s 3ms ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
    &.intermediate {
      .skill__progress {
        &:before {
          animation: fill-50 1.5s 3ms ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
    &.basic {
      .skill__progress {
        &:before {
          animation: fill-25 1.5s 3ms ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
    &__item {
      width: 25%;
      text-align: center;
      margin: 1rem 0;
    }
  }
}
.skill {
  &__emblem {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $brightGreen;
    border: 0.3rem solid $dark;
    color: $dark;
    font-size: 2.5rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  &__progress {
    display: block;
    margin: 0.5rem 10% 1rem 10%;
    height: 0.5rem;
    background: rgba($brightGreen, 0.2);
    position: relative;
    &:before {
      content: "";
      width: 30px;
      position: absolute;
      top: 0;
      left: 0;
      height: 0.5rem;
      background: $brightGreen;
    }
  }
}

@include fillMixin("fill-90", 90%);
@include fillMixin("fill-50", 50%);
@include fillMixin("fill-25", 25%);
