@import "./../../assets/styles/variables.scss";
:host {
  width: 100%;
}
.slider {
  height: 30vh;
  &__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  &__up,
  &__down {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: $brightGreen;
    border: 0.4rem solid $dark;
    color: $dark;
    font-size: 2rem;
    color: $dark;
    position: relative;
    i {
      transform: translateY(0);
    }
  }
  &__up {
    margin-top: 3rem;
    &:hover {
      i {
        animation: bounceUp 1s 0ms ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }
  &__down {
    &:hover {
      i {
        animation: bounceDown 1s 0ms ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }
  @media screen and (max-width: 760px) {
    height: 50vh;
  }
}
