<nav class="navigation" [ngClass]="{slideIn : mobileMenuOpen}">
    <ul class='navigation__list'>
        <li class="navitem" [ngClass]="{active: routeUrl == '/education'}"><a (click)="toggleLink('/education')"><i class="fa fa-university"></i><h5 class="navitem__title">Education</h5></a></li>
        <li class="navitem" [ngClass]="{active: routeUrl == '/experience'}"><a (click)="toggleLink('/experience')"><i class="fa fa-laptop-code"></i><h5 class="navitem__title">Experience</h5></a></li>
        <li class="navitem" [ngClass]="{active: routeUrl == '/skills'}"><a (click)="toggleLink('/skills')"><i class="fa fa-code"></i><h5 class="navitem__title">Skills</h5></a></li>
        <li class="navitem" [ngClass]="{active: routeUrl == '/hobbies'}"><a (click)="toggleLink('/hobbies')"><i class="fa fa-dice-six"></i><h5 class="navitem__title">Hobbies</h5></a></li>
        <li class="navitem" [ngClass]="{active: routeUrl == '/contact'}"><a (click)="toggleLink('/contact')"><i class="fa fa-id-card"></i><h5 class="navitem__title">Contact</h5></a></li>
    </ul>
</nav>
<div class="navigation__hamburger">
    <button class="navigation__toggle-mobile" (click)="toggleMenu()">
        <i class="fa fa-bars"></i>
        <h5>Menu</h5>
    </button>
</div>
