$dark: #17252a;
$darkGreen: #2b7a78;
$baseGreen: #3aafa9;
$brightGreen: #def2f1;
$light: #feffff;

$skill-adaptive: "\e900";
$skill-angular: "\e901";
$skill-bootstrap: "\e902";
$skill-css: "\e903";
$skill-github: "\e904";
$skill-html5: "\e905";
$skill-illustrator: "\e906";
$skill-jquery: "\e907";
$skill-js: "\e908";
$skill-linux: "\e909";
$skill-office: "\e90a";
$skill-photoshop: "\e90b";
$skill-react: "\e90c";
$skill-sass: "\e90d";
$skill-uk: "\e90e";
$skill-ux: "\e90f";
$skill-wordpress: "\e910";
